.footer__copyrigt {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: opacity .2s linear;
}

.footer__copyrigt:hover {
    opacity: .8;
}