.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 86px 48px 0;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .cover {
        padding: 86px 0 0;
    }
}