.lead__main-illustration {
    width: 100%;
    padding: 64px 0 8px;
}

@media screen and (max-width: 1279px) {
    .lead__main-illustration {
        padding-top: 56px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__main-illustration {
        padding-top: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__main-illustration {
        padding-top: 40px;
    }
}